* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

body {
    width: 100vh;
    height: 100vh;
}

#root {
    width: 100%;
    height: 100%;
}

.leaflet-container {
    width: 100%;
    height: 100%;
}

.parking-lot-popup {
    width: 150px;
    height: 150px;

    background-color: blanchedalmond;
}